h1	{
	text-align: center;
  padding-top: 100px;
  font-size: 85px;
}

h2	{
	text-align: center;
  font-size: 20px;
}

body	{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: black;
	padding: 20px;
}

input{
  font-family: 'Raleway', sans-serif;
  float: right;
  font-size: 24px;
  color: black;
  font-weight: bold;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

}
.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.active {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: right;
  }
